#wrap{width:1350px; height:600px; position:absolute;}

#login{
	height: 90px;
	width: 90px;
	margin-top:20px;
	margin-left:440px;
	float:left;
	-moz-border-radius: 65px;
	border-radius: 65px;
	background-color:#390;
	opacity:0.3;
	}

#login:hover
	{
	opacity:1.0;
	}

#login > a{
	padding-top:10px;
	padding-right:8px;
	float:right;	
	}
		
#login2{
	height:90px;
	width:340px;
	margin-top:20px;
	margin-right:520px;
	float:right;
	background-color:#333;
	}
	
#login2 > form
	{
	padding-left:20px;
	padding-top:15px;	
	}	

#loginbutton 
	{
     color:#FFF; 
     font-family:'Arial Black', Gadget, sans-serif;
     font-size:25px; 
     border:none; 
     width:130px;
     height:60px;
	 float:right;
	 margin-right:15px;
	 margin-top:-60px; 
	 background-color:#063;	
	}

#loginbutton:active
	{	 
     color:#FFF; 
     font-family:'Arial Black', Gadget, sans-serif;
     font-size:25px; 
     border:none; 
     width:130px;
     height:60px;
	 float:right;
	 margin-right:15px;
	 margin-top:-60px;  
	 background-color:#00CC33;	
	}	
		
#login3
	{
	height:60px;
	width:130px;
	float:right;
	margin-top:15px;
	margin-right:20px;
	}	